{ % include 'recipes/partials/head.html' %}
<body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/header.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="search-container">
                <div class="container">
                    <form action="" class="search-form">
                        <input type="search" class="search-input" name="search">
                        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                    </form>
                 </div>
             </div>   
        </div>   
    </main>   
</body>

</html>